<%= form_for([@editor, @editor.comments.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.cktext_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>